<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Add new form
      </div>
      <div class="card-body">
        
        <form #addForm='ngForm'>
            <div class="form-group col-12">
                <label for="formname" class="form-label">Form Name</label>
                <input type="text" class="form-control" formControlName="formname">
                
            </div>
          <div class="form-group col-12">
            <label for="add-form" class="form-label">Form JSON</label>
            <textarea class="form-control" required ngModel name="add-form" rows="15"></textarea>
          </div>

          <div class="form-group col-12">
            <button [disabled]="!addForm.valid" type="submit" class="btn btn-primary m-2">Add</button>

          </div>
        </form>
      </div>
    </div>
    </div>
 </div>